.slide-full {
    min-height: 100vh;
}

.slide-half {
    min-height: 50vh;
}

.slide-third {
    min-height: 33vh;
}

/*
Individual Slides 
*/

#slide1 {
    background-image: linear-gradient(to bottom right, var(--accent-color), var(--accent2-color));
    color: #fff;
}