#slide1 h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

#slide1 button {
    height: 3rem;
    width: fit-content;
    padding: 0 1rem;
    margin: auto;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1rem;
}

#slide1 button:hover {
    background-color: #ffffff88;
    color: #fff;
}